<%-include ("../partials/header.ejs")%>

<div class="addcamp_form">
    <h1>Add New Campground</h1>
    <form action="/campgrounds" method="POST">

        <div class="field-name">
            <input type="text" name='img_name' placeholder="Image Name" required maxlength="20">
        </div>
        <div class="field-url">

            <input type="text" name='img_url' placeholder="Image url" required>
        </div>
        <div class="camp-description-input">
            <textarea name="desc" id="desc" cols="40" rows="5" placeholder="Description"></textarea>
        </div>


        <div class="submit-btn">
            <button class="primary-btn" type="submit">Add</button>
        </div>
    </form>
</div>

<%-include ("../partials/footer.ejs")%>